body.dark-mode {
    --grey-1: #FDFEFF;
    --grey-2: #F8F9FA;
    --grey-3: #F1F3F5;
    --grey-4: #DEE2E6;
    --grey-5: #CED4DA;
    --grey-6: #2B2F33;
    --grey-7: #212529;
    --grey-8: #15171A;

    --brand-1: #6F00FF;
    --brand-2: #8629FF;
  }
