@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./reset.css);
@import url(./albums.css);
@import url(./genres.css);
@import url(./header.css);
@import url(./index.css);
@import url(./price-range.css);

:root {
    --grey-1:#15171A;
    --grey-2:#212529;
    --grey-3:#2b2f33;
    --grey-4:#ced4da;
    --grey-5:#DEE2E6;
    --grey-6:#F1F3F5;
    --grey-7:#F8F9FA;
    --grey-8:#fdfeff;
    --brand-1:#6F00FF;
    --brand-2:#8629FF;

    --font-weight-1: 600;
    --font-size-1: 28px;
    --font-weight-2: 600;
    --font-size-2: 16px;
    --font-weight-3: 500;
    --font-size-3: 16px;

}

body{
    font-family: "Inter", serif;
    background-color: var(--grey-8);
    display: block;
    width: 1024px;
    margin: auto;
}