.header{
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: var(--grey-8);
}
.header__contaienr{
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
    border-bottom: 3px solid var(--brand-2);
}

.openMusic{
    font-size: 40px;
    font-weight: var(--font-weight-1);
}

.openMusic > span{
    color: var(--brand-1);
}

.icon{
    height: 2.25rem;
    width: 2.75rem;
}